
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$light-color: #fafafa;
$white-color: #fff;
$black-color: #323232;
