
// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600,700,800');

// Variables
@import "variables";

//pages
@import "pages/home";

.body{
  font-family: $font-family-sans-serif;
  color: $black-color;
}

// classes bold
.extrabold{
  font-weight: 800;
}

// navbar background
.la-nav-bg{
    background-color: $light-color;
}

// tamanho do texto
.nav-item{
  font-size: 18px;
}

// footer
.footer{
  color: $light-color;
}
